# Text files
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.sh text eol=lf

# Binary files
*.joblib binary
*.pkl binary

